.about{
  background-color: #f7f7f7;
}

.about-container{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-heading{
  font-size: 1.8rem;
}
.about-wrapper{
  display: flex;
}
.about-left{
  flex: 1;
}
.about-right{
  flex: 1;
}